.login-container{
  min-height: 90vh;
  max-width:90vw;
  /* border:1px solid black; */
  margin:30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-window{
  height:50vh;
  width: 40vw;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-inner-container{
  height:90%;
  width:90%;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin:10px auto; */
}
.login-inner-container .input-group{
  height:70%;
  width:95%;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-group input{
  margin:10px 10px;
  width:90%;
  height:50px;
}
.input-group .btn-group{
  height:30px;
  width:94%;
  display: flex;
}
.btn-group button{
  height:100%;
  width:100%;
  margin:0 5px;
  background-color: #4aed84;
  border:none;
  outline: none;
  cursor: pointer;
}

/* editor codding */

.mainWrapper{
  min-height:100vh;
  max-width:100vw;
  border:1px solid black;
  display: grid;
  grid-template-columns: 230px 1fr;
}
.aside{
  background-color: #1c1e29;
  color:#fff;
  padding:16px;
  display: flex;
  flex-direction: column;
}
.aside .asideInner{
  flex:1;
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
}
.clientsList .client{
  display: flex;
  flex-direction: column;
}